extends layout

block content
  h1= title
  #container
    div( id="newNote")
      h3 add
      input(id="title", type="text",  name="title", placeholder="title").form-control
      br
      br
      textarea(id="text", name="note", cols="22", rows="10", form="newForm", placeholder="note").form-control
      br
      br
      input(type="submit", onclick="addNote()").btn.btn-danger
      br
      br
      input(type="submit", value="Close form", onclick="closeForm()")
    
    input(id="addForm" type="submit", value="+", onclick="openForm()")
    div(id="notes")
      