extends layout

block content
  #container
    div( id="newNote")
      input(type="text", id="title", name="title", placeholder="Note name").form-control
      br
      br
      textarea(name="note", id="text", cols="22", rows="10", form="newForm", placeholder="Write your note here...").form-control
      br
      br
      input(type="submit", onclick="addNote()").btn
      br
      br
<<<<<<< HEAD
      input(type="submit", value="Close form", onclick="closeForm()")
    
    input(id="addForm" type="submit", value="+", onclick="openForm()")
    div(id="notes")
      
=======
      input(type="submit", value="Close form", onclick="closeForm()").btn
    br
    div(id="").parent
      div
        input(type="submit", value="Add new note", onclick="openForm()").btn
      //test divs below, makes sure that every gridbox gets the correct position
      div some text 
      div some text 
>>>>>>> 3c3d44a3f9b6a7c499af68087d403dbc519b7a31
