extends layout

block content
  h1= title
<<<<<<< HEAD
  div.container
    div.parent#divgrid
=======
  #container
    div 
      h3 add
    form(action="/javascripts/add.js" id="newNote")
      input(type="text", id="title", name="title", placeholder="title", onfocus="this.value=''").form-control
      br
      br
      textarea(name="note", cols="22", rows="10", form="newForm", placeholder="note", onfocus="this.value=''").form-control
      br
      br
      input(type="submit", value="Submit").btn.btn-danger
>>>>>>> 3a94c694b269224de87acf2bf20cffa5191492be
