extends layout

block content
  #container
    div( id="newNote" onclick="console.log('yeet')")
      br
      input(type="text", id="title", name="title", placeholder="Note name", maxlength="25").form-control
      br
      br
      textarea(name="note", id="text", cols="22", rows="10", form="newForm", placeholder="Write your note here...").form-control
      br
      br
      input(type="submit", value="Add Note" onclick="addNote()").btn.btnn
      br
      br
      input(type="submit", value="Close Form", onclick="closeForm(), loadNotes()").btn.btnn
    br
    a(id="addForm").addBtn
      input(type="submit", value="Add note", onclick="openForm()").btn
    div(id="notes").parent
      
