extends layout

block content
  #container
    div( id="newNote")
      input(type="text", id="title", name="Note name", placeholder="title").form-control
      br
      br
      textarea(name="note", id="text", cols="22", rows="10", form="newForm", placeholder="note").form-control
      br
      br
      input(type="submit", onclick="addNote()").btn.btn-danger
      br
      br
      input(type="submit", value="Close form", onclick="closeForm()")
    div(id="")
      input(type="submit", value="Add new note", onclick="openForm()")
