extends layout

block content
  #container
    div( id="newNote")
      br
      input(type="text", id="title", name="title", placeholder="Note name", maxlength="25", tabindex="1", required).form-control.btm
      br
      textarea(name="note", id="text", cols="22", rows="15", form="newForm", placeholder="Write your note here...").form-control
      br   
    br 
    div(id="notes").parent
    div(id="readNote")
      input(id="Titel", type="text", required).form-control.btm
      br
      textarea(id="Notering" type="text" rows="15" placeholder="Write your note here...").form-control
      p Creation date: 
        span(id="Creation") 
      p Edit date:
        span(id="Editation") 
  input(type="submit", id="help", value=" ",onclick="loadSpecificNote(0), closeForm()", ).btn.btnn.crcBtn
