extends layout

block content
  #container
    div( id="newNote")
      input(type="text", id="title", name="title", placeholder="Note name").form-control
      br
      br
      textarea(name="note", id="text", cols="22", rows="10", form="newForm", placeholder="Write your note here...").form-control
      br
      br
      input(type="submit", onclick="addNote()").btn
      br
      br
      input(type="submit", value="Close form", onclick="closeForm()").btn
    br
    div(id="notes").parent
      div
        input(id="buttonAdd", type="submit", value="Add new note", onclick="openForm()").btn
      //test divs below, makes sure that every gridbox gets the correct position
      div some text 
      div some text 
