extends layout

block content
  h1= title
  #container
    div( id="newNote")
      h3 add
      input(type="text", id="title", name="title", placeholder="title").form-control
      br
      br
      textarea(name="note", id="text", cols="22", rows="10", form="newForm", placeholder="note").form-control
      br
      br
      input(type="submit", onclick="addNote()").btn.btn-danger
      br
      br
      input(type="submit", value="Close form", onclick="closeForm()")
    div(id="addForm")
      input(type="submit", value="+", onclick="openForm()")
