doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link( rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    link(rel="icon", type="image/png", href="/favicon.png")
    meta(charset="UTF-8")
    meta( name="author", content="CSS by O. Harrysson")
    meta( name="viewport", content="width=device-width, initial-scale=1.0")
  body
    div.container
      nav.navbar.navbar-expand-sm.fixed-top.nav
        span.navbar-text NoteApp by Trojan64&reg

    block content
    
    script(src="/javascripts/main.js")
    script(src="/javascripts/add.js")
    script(src="/javascripts/delete.js")
