doctype html
html
  head
    title= title
    link( rel='stylesheet', href='/stylesheets/style.css')
    link( href='https://fonts.googleapis.com/css?family=Architects Daughter', rel='stylesheet')
    link( href='https://fonts.googleapis.com/css?family=Bitter', rel='stylesheet')
    link( rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    link( rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="icon", type="image/png", href="/favicon.png")
    meta(charset="UTF-8")
    meta( name="author", content="CSS by O. Harrysson")
    meta( name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
  body
    div.container
      nav(id="nav").navbar.navbar-expand-sm.fixed-top.nav
        span.navbar-text NoteApp by Trojan64&reg
      nav(id="navTools").navbar.navbar-expand-sm.fixed-top.nav.navTools
        span.fa.fa-angle-left

    block content
    
    script(src="/javascripts/main.js")
    script(src="/javascripts/storage.js")
    script(src="/javascripts/add.js")
    script(src="/javascripts/delete.js")