body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #EEEEEB;
  color: #2A2B2D !important;
}

nav {
  background-color: #EEEEEB;
}

.parent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40%, 48%));
  grid-gap: 6px;
}

.parent > div {
  background-color: #EEEEEB;
  height:20vh;
  border: 2px solid #D8AA52;
}
a {
  color: #00B7FF;
}

.btnn {
  background-color: #D8AA52 !important ;
  margin: 0 5px 0 5px;
}

.NoteHead {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0rem;
}

.NotePreview {
  font-size: 16px;
  margin: 0;
}

.btnCenter {
  text-align: center;
  margin: auto;
}

.addBtn {
  text-align: center;
  width: 75px;
  height:75px;
  position: relative;
  margin:0 calc(50% - 37.5px) 0 calc(50% - 37.5px);
  bottom: 0;
}

.addBtnDiv{
  border-color: #A11075 !important;
}

.AddNotePos{
  text-align: center;
  padding-top: 10px;
  font-size: 15px;
}

div {
  position: relative;
}

textarea {
  resize: none !important;
}

@media only screen and (min-width: 600px) {
  .NoteHead {
    font-size: 24px;
  }

  .addBtn {
    width: 150px;
    height: 150px;
    margin: 0 calc(50% - 70px) 0 calc(50% - 70px);
  }

  .parent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(29%, 30%));
    grid-gap: 20px;
    justify-content: center;
  }
}