body {
  padding: 50px 15px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F9F9fa;
  color: #2A2B2D !important;
  height:100vh;
  width:100vw;
  background-image: url(/images/backgroundimage.png) !important;
  background-repeat: no-repeat;
  background-size: cover;
}

.backgroundImage{
  background-image: url(/images/background.jpg);
  opacity: 0.25;
  width:100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size:cover ;
  z-index: -50;
  padding:0;
  margin:0;
  display:inline-block;
}

nav {
  background-color: #EEEEEB;
  font-family: 'Architects Daughter'!important;
  font-weight: bold;
}

.parent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40%, 48%));
  grid-gap: 10px;
}

.parent > div {
  background-color: #feff9c;
  height:20vh;
  border: 1px solid black;
  box-shadow: 3px 3px 7px black;
}
a {
  color: #00B7FF;
}

.btnn {
  background-color: #D8AA52 !important ;
  margin: 2px;
  transition: 1s !important;
  padding: 0.375rem !important;
}

.NoteHead {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0rem;
  font-family: 'Bitter' !important;
  padding: 5px;
}

.NotePreview {
  font-size: 16px;
  margin: 0;
}

.btnCenter {
  text-align: center;
  margin: auto;
}

.addBtn {
  text-align: center;
  width: 75px;
  height:75px;
  position: relative;
  margin:0 calc(50% - 37.5px) 0 calc(50% - 37.5px);
  bottom: 0;
}

.addBtnDiv{
  border-color: black !important;
}

.AddNotePos{
  text-align: center;
  padding-top: 5px;
  font-size: 15px;
  color: #A11075;
}

div {
  position: relative;
}

textarea {
  resize: none !important;
}

.btm{
  border: none;
  transition:border 1s !important;
}

.btm:focus{
  border-bottom: 2px solid #A11075 !important;
}

@media only screen and (min-width: 600px) {
  .NoteHead {
    font-size: 24px;
  }

  .addBtn {
    width: 150px;
    height: 150px;
    margin: 0 calc(50% - 70px) 0 calc(50% - 70px);
  }

  .parent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(29%, 30%));
    grid-gap: 20px;
    justify-content: center;
  }
}

@media screen and (orientation:landscape) {
  .parent > div {
    height:35vh;
  }
}

@media (prefers-color-scheme: dark) {
  body{
    background-color:#2A2B2D !important;
    color: #EEEEEB !important;

  }

  .nav, .parent > div{
    background-color: #1A1B1D;
  }

  .form-control{
    background-color: #1A1B1D !important;
  }

}